/* Background */
.login-container {
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Login Box */
  .login-box {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  /* .login-box:hover {
    transform: translateY(-5px);
  }
   */
  /* Logo */
  .logo {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Heading and Text */
  .login-box h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-box p {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
  }
  
  /* Form Inputs */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s;
  }
  
  .login-input:focus {
    border: 1px solid #7c84f5;
  }
  
  /* Button */
  .login-button {
    background-color: #507aec;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #6880ec;
  }
  